h1 {
    font-family: 'Pacifico', cursive; 
    font-size: 4.5em;
    margin-bottom: 20px;
}

h2 { 
    font-size: 1.7em;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

.regles-commandes {
    width: 75%;
    margin: auto;
    text-align: justify;
}

.marmotte {
    margin-bottom: -9px;
}